

.popupOverLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupBox {
  background: var(--primmary-background);
  padding: 30px 40px;
  border-radius: 10px;
  position: relative;
  max-width: 90%;
  min-width: 40%;
  max-height: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  overflow: auto;
}

.closeBtn {
  position: absolute;
  top: 8px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}