.tab:hover {
    text-decoration: underline;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: left;
    font-weight: bold;
}

.input {
    padding: 5px 10px;
    border-radius: 2px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    width: 200px;
}

.submitButton {
    background-color: #2FA924;
    color: white;
    border: none;
    padding: 6px 35px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
    font-weight: 600;
}

.summary {
    display: flex;
    gap: 20px;
    justify-content: left;
    margin-bottom: 20px;
    padding: 30px;
}

.box {
    background: white;
    padding: 15px 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    /* Add this */
    justify-content: space-around;
    /* Even spacing */
    align-items: center;
    gap: 20px;
    text-align: center;
    min-width: 300px;
}

.stat {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.stat p {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;

}

.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    /* margin-left: 100px; */
}

.table th {
    background-color: #7892cb;
    color: white;
    padding: 10px;
    text-align: left;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.tableContent {
    font-size: 18px;
}

.viewButton {
    background-color: #18B4D7;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 12px;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.viewButtonRequest {
    background-color: #2FA924;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    font-size: 12px;
    width: fit-content;
    padding: 3px 10px;
    cursor: pointer;
}

.tableContainer {
    display: flex;
    justify-content: center;
    /* min-height: 300px; */
    padding: 10px 15px;
    background-color: #E6E6E6;
    border-radius: 10px;
    margin: 30px;

}

/* Leave Settings css */
.leaveSidebar {
    background-color: #42759475;
    width: 200px;
    /* border-radius: 6px; */
    /* height: 100% !important; */
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.leaveSidebar label {
    /* display: inline-block; */
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #EEEEEE;
    font-weight: 600;
    font-size: 16px;
}

.leaveFormGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    flex: 1;
    position: relative;
}

.leaveInnerGird {
    display: flex;
    gap: 20px;
}

.deleteBin {
    position: absolute;
    right: -50px;
    border: none;
    background: transparent;
}

.deleteBin:hover{
    color: #A92424;
}

.leaveFormGridPH {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
}





/* PHSettings css */
.leaveBox {
    display: flex;
    border: 2px solid #c0d4ea;
    border-radius: 10px;
    background-color: #EEEEEE;
    width: 800px;
    min-height: 300px;
    margin: 0 auto;
    padding-right: 20px;
    /* overflow: hidden; */
    gap: 20px;
    align-items: center;
}

.phButton {
    border-radius: 5px !important;
    padding: 5px;
    background-color: white;
    border: 1px solid gray;
    font-size: 14px;
    font-weight: 600;
    min-width: 140px;
    margin: 20px;
}

.leaveInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    width: 95%;
}

.weekContainer {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.dropdown {
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    padding-right: 40px;
    font-weight: 600;
    margin: 0 10px;
}


.centeredBoxContainer {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.centeredBbox {
    width: 90%;
    height: 600px;
    border: 2px solid #c0d4ea;
    border-radius: 10px;
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    color: #2FA924;
}

.red {
    color: #A92424;
}

/* Approved Form css  */
.approvedForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    top: 0;
    right: 0;
}

.approvedFeild {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.approvedRow {
    display: flex;
    gap: 10px;
}

.approvedRow label {
    flex: 1;
}

.approvedForm label {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    gap: 10px;
}

.approvedForm input,
.approvedForm textarea,
.approvedForm select {
    /* flex: 1; */
    /* height: 25px; */
    width: 250px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 13px;
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
}

.approvedForm textarea {
    width: calc(100% - 20px);
    height: 80px;
}

.approvedActions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


/* button[type="button"] {
    background-color: gray;
} */

.closeIcon {
    cursor: pointer;
    color: #555;
    transition: 0.2s ease;
}

.attendanceContent {
    background-color: #588FAC38;
}

/* Week Off popup css */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 500px;
    max-width: 95%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modalHeader h2 {
    
    font-size: 24px;
    margin-bottom: 20px;
}

.closeBtn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modalField {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modalField span {
    font-weight: bold;
    width: 45%;
}

.modalField input {
    flex: 1;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.weekdayCheckboxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}

.weekdayCheckboxes label {
    width: 3%;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 11px;
    /* margin-right: 5px; */
}

.modalActions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cancelButton {
    background-color: red;
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.approvedActions button {
    padding: 8px 16px;
    background: #0070AC;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.declineBtn {
    background-color: #C95151 !important;
}

.approveBtn {
    background-color: #00AC5F !important;
}

.declineBtn,
.approveBtn {
    margin: 0 5px;
    border-radius: 18px !important;
}


.declineButton,
.approveButton,
.holdButton {
    border: none;
    width: 90px;
    border-radius: 18px;
    border: none;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
    /* color: white; */
}

.declineButton {
    background-color: #F57679;
    border-radius: 18px !important;
}

.approveButton {
    background-color: #67D352;
    border-radius: 18px !important;
}

.holdButton {
    background-color: #d3d152;
}


.editButtonContainer {
    display: flex;
    justify-content: start;
    gap: 12px;
    margin: auto;
    margin-top: 20px;

    width: 800px;
}


.editButton {
    background-color: #0070AC;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editLeaveInput {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    border: none;
    padding: 5px;

}

/* Week of settings */

.viewButtonWeek {
    margin-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    background-color: #00AC5F;
    color: white;
}